# fish shell config

# ansible_managed 

# add to the PATH
set -x PATH $PATH ~/.local/bin

# set the prompt greeting
function fish_greeting
    echo "Abndon all hope ye who enter here."
end

### aliases ###

# go

# add the go binary to path
set -x PATH $PATH /usr/local/go/bin

# add gopath to path
set -x PATH $PATH /home/ryan/go/bin

# kubernetes

alias k='kubectl'
alias kc='kubectl ctx'
alias kn='kubectl ns'

# thefuck

function fuck -d "Correct your previous console command"
  set -l fucked_up_command $history[1]
  env TF_SHELL=fish TF_ALIAS=fuck PYTHONIOENCODING=utf-8 thefuck $fucked_up_command THEFUCK_ARGUMENT_PLACEHOLDER $argv | read -l unfucked_command
  if [ "$unfucked_command" != "" ]
    eval $unfucked_command
    builtin history delete --exact --case-sensitive -- $fucked_up_command
    builtin history merge ^ /dev/null
  end
end

### environment variables ###

# kubectl

set -x KUBE_EDITOR /usr/bin/vi

# add krew to path
set -gx PATH $PATH $HOME/.krew/bin
