# fish shell config

# ansible_managed 

# set the PATH
set -x PATH $PATH ~/.local/bin

# set the prompt greeting
function fish_greeting
    echo "Abndon all hope ye who enter here."
end

### aliases ###

# kubernetes

alias k='kubectl'
alias kc='kubectx'
alias kn='kubens'

### environment variables ###

# AWS

set -x AWS_ACCESS_KEY_ID "{{ aws_access_key }}"
set -x AWS_SECRET_ACCESS_KEY "{{ aws_access_secret }}"
set -x AWS_DEFAULT_REGION "{{ aws_default_region }}"

# kubectl

set -x KUBE_EDITOR /usr/bin/vi
