# fish shell config

# ansible_managed 

# set the PATH
set -x PATH $PATH ~/.local/bin

# set the prompt greeting
function fish_greeting
    echo "Abndon all hope ye who enter here."
end

# aliases

alias k='kubectl'